body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin: 0;
}

html {
  font-size: 10px;
}

p {
  color: #adb5bd;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #212529;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  width: 800px;
}

#img-caption {
  margin: 15px 0 5px 0;
  color: #000;
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 650px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 645px;
  margin: 0 auto 50px auto;
  text-align: left;
}

a {
  color: #477ca7;
}
